import 'parser'
import "set"

def main
  f1(1, 2, 3)
  var pass_param_ret_val = pass_param(1, 2, 3)
  var f1_v = f1(1, 2, 3)
  call_stack1()
  var num = 1
  num = 2

  var set = Set.new(1, 2, num)
  var foo = Foo.new()
  set.uniq()
  var set_v = set.v
  var b1 = true
  var b2 = false

  var s1 = 'str'
  var s2 = "str"

  f1(1, 2, num)

  var id = num

  if true
    var m = 1
    var s = 2
  elsif false
    var q = 2
    var a = 1
  elsif false
    var n = 10
    var q = 10
  else
    var t = 22
    var n = 2
  end

  return 1
  var after_return = 0
  return num

end

def call_stack1()
  call_stack2()
end

def call_stack2()
  call_stack3()
end

def call_stack3()
  1
end

def pass_param(a, b, c)
  break
  a + b + c
end

def f1(a, b, c)
  1 + 1 + 1
end

def empty_fun()

end

def f3(a, b, c, argc, argv)

end


class Foo

end

class Set < Foo
  def init(a, b, c)

  end

  var s
  var v = 1

  def uniq
    var b = 1
  end
end