class RcObject
    def init()

    end

    def new()
        var a = malloc()
        init()
        a
    end
end

class Point < RcObject
  var x:Int
  var y:Int

  def move_x(offset: Int): Int
    x = x + offset
    print("a.x: %d", x)
  end
end

def main()
    var a = Point.new()
    a.move_x(5)
end