def main
    a = 1 * 3 + 2
    a = 2
    b = 1 + 2 * 3
    n = a + b
    c = 1 * n + 2 * 3

    if true
        q = 1
    else
        q = 2
        if false
            s = 1
        elsif true
            s = 2
        else
            s = 3
        end
    end
    n = 1
end
