def f1
  p("run f1")
  f2()
  p("after f1, will not be exec")
end

def f2
  p("run f2")
  f3()
  p("after f2, will not be exec")
end

def f3
  p("run f3")
  assert_true(false)
  p("after f3, will not be exec")
end

def main
  f1()
end