class Foo
  def parent_f()
    8
  end

  def override_f()
    p("parent")
  end

  var parent_var = 10
end

class Child < Foo
  def init(a)
    p("exec constructor")
    self.val = 7
  end

  def override_f()
    p("child override f")
    p(self.mem_v)
  end

  def set_mem_v()
    self.mem_v = 47
  end

  def mem_fun()
    p("mem fun")
    self.other_mem_fun()
  end

  def other_mem_fun()
    p("other mem fun")
  end

  var mem_v = 11
  var val = 5
end

def main
  var c = Child.new(5)
  p("Child var val")
  p(c.val)
  p(c.parent_var)
  p(c.parent_f())
  c.mem_fun()
  c.override_f()
  c.set_mem_v()
  p(c.mem_v)
end