class RcObject
    def new()
        var a = malloc()
        init()
        a
    end

    def init()

    end
end

class Point < RcObject
  var x:Int
  var y:Int

  def move_x(offset: Int)
    x = x + offset
  end
end

def main()
end